@import url(https://fonts.googleapis.com/css?family=Francois+One);
html {
    box-sizing: border-box;
}
html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
input {
    padding: 5px;
    width: 95%;
}
select {
    padding: 5px;
}

h1 {
    color: #08C4F2;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}
h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
}

/* TOP LEVEL LAYOUT */
/********************/

#map{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

aside {
    position:absolute;
    top: 0;
    left: -260px;
    bottom: 0;
    z-index: 1;
    width: 260px;
    transition: left 0.5s;
    will-change: left;
    background: lightgray;
}

.aside-opener {
    position:absolute;
    top: 10px;
    left: 4px;
    z-index: 1;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background: lightgray;
    border: 1px solid #08C4F2;
    font-size: 32px;

    cursor: pointer;
    transition: left 0.5s;
    will-change: left;
}

.aside-opened aside {
    left: 0;
    box-shadow: 3px 0 10px 0 rgba(0,0,0,0.5);
}

.aside-opened .aside-opener {
    left: 263px;
}

/* LAYOUT OF SIDE BAR */
/**********************/

.options-box {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 310px;
    padding: 10px 10px 0 10px;
    text-align: left;
    line-height: 40px
}

.options-box .no-filter {
    color: graytext;
}

.list-box {
    position: absolute;
    top: 310px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px;
    text-align: left;
    overflow-y: scroll;
}
.list-item {
    padding: 10px 0;
    cursor: pointer;
}
.list-item:hover h2 {
    color: #08C4F2;
}
