@import url(https://fonts.googleapis.com/css?family=Francois+One);
html {
    box-sizing: border-box;
}
html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
input {
    font-size: 12px;
}
h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}
nav {
    width: 100vw;
    display: flex;
    align-items: flex-end;
    height: 40px;
}
nav a {
    padding: 0 5px;
}
nav a:active {

}
section {
    clear: both;
}
#section{
    position:absolute;
    top: 40px;
    left: -100vw;
    right: 0;
    bottom: 0;
}

#section.show-list,
#section.show-search {
    left: 0;
}

.flex-container {
    display: flex;
    align-items: stretch;
}
.flex-item {
}
aside {
    /*width: 100vw;*/
}

#list {

}

#list.is-open {
}

#map {
    width: 100%;
}

.list-box, .options-box {
    background: #fff;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 100vw;
    display:none;
}

.show-list .list-box {
    display:block;
    overflow-y: scroll;
}

.show-search .options-box {
    display:block;
}



#hide-listings,
#show-listings {
    width: 48%;
}
#pano {
  width: 200px;
  height: 200px;
}
#search-within-time-text {
  width: 84%;
}
.text {
  font-size: 12px;
}
#toggle-drawing {
  width: 27%;
  position: relative;
  margin-left: 10px;
}
#zoom-to-area-text {
  position: relative;
  width: 70%;
}
#zoom-to-area {
  width: 24%;
}

@media only screen and (orientation: landscape) {
    #section {
        left: -340px;
    }
    .list-box, .options-box {
        width: 340px;
    }
    .list-box,
    .options-box {
        display: block;
    }
    .list-box {
        position: absolute;
        top: 400px;
        bottom: 0;
    }
}
