@import url(https://fonts.googleapis.com/css?family=Francois+One);
html {
    box-sizing: border-box;
}
html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
input {
    font-size: 12px;
}
h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

/* TOP LEVEL LAYOUT */
/********************/

#map{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

aside {
    position:absolute;
    top: 0;
    left: -240px;
    bottom: 0;
    z-index: 1;
    width: 240px;

    transition: left 0.5s;
    will-change: left;
}

.aside-opener {
    position:absolute;
    top: 10px;
    left: 4px;
    z-index: 1;
    width: 200px;

    cursor: pointer;
    transition: left 0.5s;
    will-change: left;
}

.aside-opened aside {
    left: 0;
}

.aside-opened .aside-opener {
    left: 243px;
}

/* LAYOUT OF SIDE BAR */
/**********************/

.options-box {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 170px;

    background: #fff;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
}

.list-box {
    position:absolute;
    top: 170px;
    left: 0;
    right: 0;
    bottom: 0;

    background: #fff;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    overflow-y: scroll;
}

#search-within-time-text {
  width: 84%;
}
.text {
  font-size: 12px;
}
